<!DOCTYPE html>
<html>
  <head>
    <title>Update Contact</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <!-- Header Section -->
    <%- include('partials/header') %>

    <main>
      <!-- Update Contact Form Section -->
      <section class="update-contact">
        <h2>Update Contact</h2>
        <form action="/update/<%= contact._id %>" method="POST">
          <div class="form-group">
            <label for="username">Contact Name</label>
            <input
              type="text"
              id="username"
              name="username"
              value="<%= contact.username %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
              type="text"
              id="password"
              name="password"
              value="<%= contact.password %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input
              type="email"
              id="email"
              name="email"
              value="<%= contact.email %>"
              required
            />
          </div>
          <div class="form-group">
            <label for="contact">Contact</label>
            <input
              type="contact"
              id="contact"
              name="contact"
              value="<%= contact.contact %>"
              required
            />
          </div>
          <button type="submit" class="button">Update Contact</button>
          <a href="/business-contacts">Cancel</a>
          <!-- Added cancel button -->
        </form>
      </section>
    </main>

    <!-- Footer Section -->
    <%- include('partials/footer') %>
  </body>
</html>
